body {
    background-color: #ffffff;
    padding:1px;
    margin:3px;
}
h1 {
    background-color: #000000;
    color: #ff9933;
    padding: 10px 40px 10px 40px;
    text-align:center;
}
h3 {
    background-color: #000000;
    color: #ff9933;
    padding: 10px 40px 10px 40px;
}
h4 { 
    text-align:center;
}

p {
    border: 3px ridge #ff9933;
    padding: 10px; 
    background: #ffffff;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff9933;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333333;
    color:#ffffff
}

footer {
    background-color: #ff9933;
    color: #000000;
    padding: 10px 40px 10px 40px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#feature { 
    border: 3px ridge #ff9933;
    padding: 10px; 
    background: #ffffff;
    text-align: left; 
}
.feature { 
    border: 3px ridge #ff9933;
    padding: 10px; 
    background: #ffffff;
    text-align: left; 
}

table,td, th { 
    border: 1px solid #000000;
    border-collapse: collapse;
    text-align: center;
}

.studyguide {
    border: 3px ridge #ff9933;
    padding: 10px 10px 10px 30px; 
    background: #ffffff;
    text-align: left; 
    list-style-type: circle;
    display: block;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
}

.list {
    display: list-item;
    float: none;
}
